#main {
  font-family: 'Roboto Condensed', sans-serif;
  border-style: solid;
  border-width: 40pt;
  background-color:brown;
}

#img-div {
  display: block;
  filter: grayscale(100%);
  width: 100%;
} 

#image {
  display: block;
  height: auto;
  max-width: 284px; 
  margin: 0 auto; 
  border-style: solid;
  border-width: 10pt;
}

#img-caption {
  display: block;
  text-align: center;
  font-size: 120%;
  font-family: 'Bebas Neue', cursive;
}

#tribute-info{
  margin-left: 27%;
  margin-right: 22%;
  line-height: 160%;
  font-size: 120%;
  
}

#titlecap{
  text-align: center;
  margin-top: -90px;
  margin-bottom: 30px;
  font-size: 150%;
  font-family: 'Bebas Neue', cursive;
}

h2{
  text-align:center;
}

#quote{
  text-align:center;
  font-size:120%;
}

h3{
  text-align:center;
}

#title {
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  font-size: 700%;
  margin-top: -10px;
}

#dave{
  float:right;
  margin-right: 200px;
}